<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.g2x.reward">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<application android:label="Reward" android:theme="@style/MyTheme"></application>
</manifest>